<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I am currently a Full Stack Engineer with close to 3 years of experience building web applications using modern technologies. I recently graduated from
      <a class="underline-link" href="https://www.senecacollege.ca/" target="_blank"
        >Seneca College</a> as a 
        
        <strong>Computer Programmer</strong>.
    </p>

    <p>
      As a software engineer, my goal is to always build applications that are secure,
      scalable and efficient under the hood. As well as to solve <strong>real life problems</strong> with technology.
    </p>

    <p>
        <strong>When I'm not in front of a computer screen</strong>. I am probably playing basketball, working out or doing something active.
    </p>

  </div>
</section>
